<p class="text-center text-muted">
  Copyright &copy; 2019&middot; Teri, the CODEGOD
</p>
<p class="link-tag">
  <a href="https://github.com/terieyenike" target="_blank" class="gap">Github</a>
  <a href="https://twitter.com/terieyenike" target="_blank" class="gap">Twitter</a>
  <a href="https://linkedin.com/in/terieyenike" target="_blank" class="gap">Linkedin</a>
</p>
