<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                Vision it, do it - Eyenike
            </a>
        </div>
    </div>
</nav>